.h{
  color: $gref;
  font-size: .28rem
  height .6rem
  line-height .6rem
  background $write
  padding-left: $padding
}
.hh{
  color: $write;
  font-size: .28rem
  height .6rem
  line-height .6rem
  background $primary
}
.h1{
  color:$write  
  font-size: .32rem
  line-height .38rem
}
.h2{
  font-size: .24rem
  line-height .28rem
  color: $black
  font-style: '微软雅黑'
}
.h3{
  font-size: .28rem  
}
.text-center{
  text-align: center
}
